* { 
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
html { 
    overflow-x: hidden;
}
 
body{ 
  
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1b1b;
    letter-spacing: 0.2em;
}

ul,a { 
    list-style: none;
    color: black;
    text-decoration: none;
}

/*Header */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
   
}

header .search { 


font-size: 12px;
color: #1c1b1b;
padding: 12px 14px;
border-radius: 0;
border: 1px solid #ddd;
width: 50%;
line-height: normal;
resize: none;
transition: border-color 0.1s ease-in-out;
background: transparent;
}

.nav-link{ 
    display: flex;
    justify-content: flex-start;
    margin-left: 50px ;
}
nav{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

ul{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li { 
    margin-left: 20px
}

ul li:first-child { 
    margin-left: 0px;
}

.logo { 
    width: 176px;
    
}

.link {
    font-size: 12px;
    margin-bottom: 20px;
}

.icon { 
    width: 22px;
    height: 22px;
}

/*Fim geader*/


/* Banner */


 

section span { 
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;;
}


section h1 { 
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ffffff;;
}

 

.button { 
    padding: 14px 28px;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;

}

/* Button*/

.button {
    background-color: #ffffff;
    border: none;
    color: #141414;
    outline: none;
    padding: 12px 40px 10px;
   position: relative;
  }
  
  .button:before,
  .button:after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 24px;
  }
   
  
  .button:before {
    border-top: 2px solid #ffffff;
    right: 0;
    top: -4px;
  }
  
  .button:after {
    border-bottom: 2px solid #ffffff;
    bottom: -4px;
    left: 0;
  }
  
  .button:hover:before,
  .button:hover:after {
    width: 100%;
  }



section .button {
    margin-bottom: 50px;
 }
 
/* Produtos*/

.container { 
    padding:  80px;
    margin: 0 auto;
    text-align: center;
}

.container h2 { 
   font-size: 20px;
    margin: 0 auto;
}

.wrap-products { 
    margin-left:  50px;
    display: grid;

    gap: 50px;
  
    grid-template-columns: repeat(auto-fill, minmax(239px,1fr));
}
.produtos { 
    display: flex;
    flex-direction: column;
    max-width: 239px;
    text-align: center;
    transition: 0.5s ease-in-out;
  
   
}

.produtos:hover{ 

   transform:  translate(8px ,0px)
}



.produtos a { 
    margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
} 


.produtos span { 
  margin-top: 10px;
  font-size: 12px;
  color: #6a6a6a;
} 

/* Menu */

.wrap-menu { 
   
   margin:15px;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   
}

.wrap-menu h2{ 
    color: #ffffff;
    font-size: 22px;
 }

.wrap-menu h3{ 
    font-size: 12px;
    text-align: left;
    color: #ffffff;
 
}

 
 

.box-increase { 
    min-width: 32%;
    padding: 15px; 


}

.options-menu1 { 

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: url(../assets/child.jpg) no-repeat center top   ;
    background-size: cover;
    height: 470px;
   
}


.options-menu2 { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: url(../assets/b.jpg) no-repeat center top   ;
    background-size: cover;
    height: 470px;
   
}


.options-menu3 { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: url(../assets/d.jpg) no-repeat center top   ;
    background-size: cover;
    height: 470px;
  
}

.content { 
    padding-left: 50px;
    padding-bottom: 50px ;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.content h3 { 
    margin-bottom: 15px ;
   
}

.content h2 { 
    margin-bottom: 30px ;
    
}

/* Informações apos menu */
.container h2{
    margin-bottom: 20px;
 } 



.container p{ 
    font-size: 12px;
    word-break: break-word;
    text-align: center;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    line-height: 1.65;
    margin-bottom: 1.6rem;
}


/* Banner to footer */

.banner-footer{ 
    background: url(../assets/2.jpg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    display: flex;
     
    justify-content: center;
    align-items: center;
}
.box { 
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 1.65;

    text-align: center;
    background: #1c1b1b;
    padding: 48px 15px;
    max-width: 380px;
    margin: 40px auto;
    box-shadow: 0 1px 20px rgba(54,54,54,0.3);
}

 

.box p { 
    padding: 20px 0; 
    font-size: 12px;
    font-weight: bold;
   
}




.box a { 
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    border-bottom: 1px solid white;
}



