@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0.55em;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.95em;
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.5);
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

/* dummy content */
.content {
  float: left;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0.75em 0 0 0;
  transition: margin 0.3s ease-in-out;
}
.content > p {
  margin: 0.25em 0 0.75em 0;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  opacity: 1;
  position: absolute;
  left: 0;
  display: none;
  width: 2em;
  height: 2.25em;
  padding: 0.35em;
  font-size: 1.1em;
  color: #fff !important;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: black;
}

/* big screens */
nav[role=off-canvas] {
  position: relative;
  width: 50em;
  margin: 0 auto;
  transition-duration: 0.3s, 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;
  background-color: #1c1b1b;
}
nav[role=off-canvas] a {
  color: #fff;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: color 0.3s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
nav[role=off-canvas] ul {
  padding-left: 18px;
  padding-right: 24px;
  margin: 0 auto;
  width: 100%;
}
nav[role=off-canvas] ul > li {
  border-top: none;
  border-color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  float: left;
  padding: 0.55em 0.55em;
  width: 8em;
  height: 8em;
  margin: 0.5em;
  opacity: 0.8;
  text-transform: uppercase;
  display: table;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color, opacity, padding-left;
  cursor: pointer;
}
nav[role=off-canvas] ul > li:hover {
  color: #fff;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.95);
}
nav[role=off-canvas] ul > li:hover > a {
  color: #fff;
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
body {
    margin: 0;
    overflow-x: hidden;
  }

  .content {
    margin: 2.5em 0.5em 0 0.5em;
  }

  nav[role=off-canvas] {
    position: absolute;
    top: 3em;
    left: -20em;
    width: 20em;
    opacity: 1;
  }
  nav[role=off-canvas] ul > li {
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  nav[role=off-canvas] ul > li:hover {
    box-shadow: inset 0 0 0 0.15em rgba(255, 255, 255, 0.45);
  }

  label {
    display: block;
    color: #fff;
  }

  label:after {
    color: #fff;
    position: absolute;
    right: 0.25em;
    top: 0;
    content: "≡";
    font-size: 1.8em;
  }

  label:hover,
input:checked ~ label {
    color: #fff;
  }

  input:checked ~ nav[role=off-canvas] {
    left: 0;
    box-shadow: -30em 0 0 30em rgba(24, 23, 23, 0.336);
  }
  input:checked ~ nav[role=off-canvas] ul > li {
    opacity: 1;
    padding: 0.55em 0.55em 0.55em 1.5em;
  }
  input:checked ~ nav[role=off-canvas] ul > li:hover {
    padding-left: 3.5em;
  }
  input:checked ~ nav[role=off-canvas] ul > li:after {
    position: absolute;
    right: 0.25em;
    content: "›";
    font: bold 1.4em sans-serif;
    color: inherit;
  }

  input:checked ~ .content {
    margin-left: 20.5em;
    margin-right: -20.5em;
  }
}

/*# sourceMappingURL=navbar.css.map */
